.git
*Dockerfile*
*/node_modules
*/dist
*/build
*/.nyc_output
*/logs
*.tar
facebook-data
.dockerignore
.DS_Store
.gitignore
.ignore
build.sh
docker-run.sh
README.md
frontend/build
frontend/node_modules
frontend/.gitignore
